.page-title {
  font-size: 36px;
  color: #464646;
}
.inline-image {
  display: inline-block;
  border: 1px solid #464646;
  border-radius: 3px; 
}
.inline-image.active {
  border: 1px solid #000;  
}
h2 {
  font-size: 32px;
  color: #191970;
  text-decoration: none;
}
h4 {
  font-size: 24px;
  color: #464646;
  text-decoration: none;
}
h5 {
  font-size: 18px;
  color: #191970;
  text-decoration: none;
}
p {
  margin: 10px 0;
  font-size: 18px;
  color: #464646;  
}
footer p {
  font-size: 16px;
  color: #ccc;
}

.float {
  float: left;
  border: 1px;
  padding: 10px;
  width: 20%;
  text-align: center
}
.inline-block {
  display: inline-block;
  width: 22%;
  height: 20%;
  border: 5px;
  vertical-align: top;
  text-align: center
}
.float_text {
  float: left;
  border: 1px solid black;
  padding: 3px;
  width: 19%;
  text-align: center
}
.inline-block_characters {
  display: inline-block;
  width: 19%;
  height: 20%;
  border: 1px solid black;
  vertical-align: top;
  text-align: center
}