.clear {
	clear: both;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url("../images/font_image.jpg");
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	min-width: 1170px !important; 
}
.container {
  min-width: 1170px !important;
  max-width: none !important;
}
nav .top-header {
	width: 100% ;
	margin: 0;
	background-color: #000;
	z-index: 1000;
	position: center;
}
	.top-header ul { height: 115px; }

.column {
width: 14%;
text-align: center;
}

.inline-grid {
  font-size: 0;
}
.inline-grid > .column {
  display: inline-block;
  font-size: 24px;
  line-height: 20px;
  vertical-align: middle;
}

a {
	text-decoration: none;
	color: #A9A9A9;
	font-family: 'Oldtown', fantasy;
}
a:hover {
	color: #DCDCDC;
}

}
p {
  margin: 10px 0;
  font-size: 18px;
  color: #464646;  
 } 
footer p {
  font-size: 16px;
  color: #A9A9A9;
}
